[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-socketio = "*"
psycopg2-binary = "*"
flask-migrate = "*"
python-dotenv = "*"
flask-wtf = "*"
flask-bcrypt = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
sqlalchemy-utils = "*"
eventlet = "*"
gunicorn = { file = "https://github.com/benoitc/gunicorn/archive/refs/heads/master.zip#egg=gunicorn==20.1.0"}
redis = "*"
celery = "*"
apscheduler = "*"

[dev-packages]

[requires]
python_version = "3.10"
